
/*********GENERAL*********/



body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    color: #21243D;
}


/*********NAVIGATION********/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin : 15px auto 0 auto;
}

#nav-links {
    display: flex;
    gap: 65px;
}

.nav-link {
    color : #000000;
    text-decoration : none;
    font-weight : 700;
    font-size : 20px;
}

/*********HEADER**********/


header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 75px auto;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

#button-cv {
    background-color#FF6464: : ;
    background-color#FF6464: : ;
    background-color: #FF6464;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
}

#subtitle {
    font-size: 16px;
    margin: 35px 0;
}

#header-content {
    width: 630px;
}

/*********BLOG**********/


#blog {
    background-color: #EDF7FA;
    padding-bottom: 35px
     
}

#blog-content {
        width: 1200px;
}

h2 {
    font-weight: 400;
    font-size:  22px;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content: space-between;
    margin-left: 340px;
    margin-right: 340px;
      height: 295px;
}

.article-blog {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    box-sizing: border-box;
   
}

.article-title {
    font-size: 26px;
      width: 374px;
}

.date-category {
    font-size: 18px;
    display: flex;
    gap: 25px;
}

.article-description {
    font-size: 16px;
}

/*********PORTFOLIO**********/


#projets {
    width: 1200px;
    margin: auto;
   
}

.projet {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;

}

.projet-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 15px 0;
 
}



.date-type {
   justify-content: space-between;
    gap: 25px;
}

.projet-date {
    background-color: #142850;

    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;

  }

#fond-date {

     width: 100%;
    margin : auto;
    z-index: 200;
}
.projet-type {
    color: #8695A4;
    font-size: 20px;
     text-align: center;
   margin-left: 34px;
}



h2 {
    width: 1200px;
    margin: 36px auto;
}

.projet-description {
    font-size: 16px;

}


#coordonnees {
    display: flex;
}

/*********CONTACT**********/

#contact-content {
    display: flex;
   
}

.contact-formulaire {
    display:flex;
}

#coordonnees {
    flex-direction: column;
}

#contact {
    width: 661px;
    margin: auto;
  
}


.contact-formulaire {
    display:flex;
    margin-left: 340px;
    margin-right: 340px;
}

.contact-title {
    font-weight:800;
    font-size: 36px;}

#contact-intro {
    font-size: 20px;
}

#email {
    font-size: 16px;
}

.social-links {
    font-size: 16px;
}

.social-links {
    font-size: 16px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

#coordonnees {
    flex: 1;
}

label {
    font-size: 14px;
     margin-bottom: 22px;
    margin-top: 22px;
}

form {}

input, select, textarea {background-color: #F7F7F7;border: none;height: 46px;}

textarea#message {
    height: 165px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    height: 56px;
}


/*********FOOTER**********/
footer {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

footer {}

#icons\ socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#copyright {
    font-size: 14px;
    color: #21243D;
}

