




/*********GENERAL*********/



body {
    font-family: "Heebo", sans-serif;
    margin: auto;
    color: #21243D;
    width: 1200px;
}


/*********NAVIGATION********/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 1200px;
   padding-left: 20px
   padding-right: 20px;
   box-sizing: border-box;
    margin: 15px auto 0 auto;
}

#nav-links {
    display: flex;
    gap: 65px;
}

.nav-link {
    color : #000000;
    text-decoration : none;
    font-weight : 700;
    font-size : 20px;
}

/*********HEADER**********/


header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 75px auto;
    padding-left: 20px
   padding-right: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

#button-cv {
    background-color#FF6464;
    background-color#FF6464;
    background-color: #FF6464;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
}

#subtitle {
    font-size: 16px;
    margin: 35px 0;
}

#header-content {
    width: 630px;
}

/*********BLOG**********/


#blog {
    background-color: #EDF7FA;
    padding-bottom: 35px
     
}

#blog-content {
       max-width: 1200px;
       padding-left: 20px
   padding-right: 20px;
       box-sizing: border-box;
       padding-right: 20px;
       padding-left: 20px;
}

h2 {
    font-weight: 400;
    font-size:  22px;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content:space-evenly;
    /* margin-left: 340px; */
    /* margin-right: 340px; */
    height: 298px;
    margin: auto;
}

.article-blog {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    box-sizing: border-box;
   max-width: 48%;
}

.article-title {
    font-size: 26px;
      width: 374px;
}

.date-category {
    font-size: 18px;
    display: flex;
    gap: 25px;
}

.article-description {
    font-size: 16px;
}

/*********PORTFOLIO**********/


#projets {
   max-width: 1200px;
   margin: auto;
   /* display: flex; */
   padding-left: 20px;
   padding-right: 20px;
   box-sizing: border-box;
   flex-direction: column;
}

.projet {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;

}

.projet-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 15px 0;
 
}



.date-type {
   justify-content: space-between;
    gap: 25px;
}

.projet-date {
    background-color: #142850;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;
  }

#fond-date {

     width: 100%;
    margin : auto;
    z-index: 200;
}

.projet-type {
    color: #8695A4;
    font-size: 20px;
     text-align: center;
   margin-left: 34px;
}

h2 {
   max-width: 1200px;
   margin: 36px auto;
   padding-left: 20px
   padding-right: 20px;
   box-sizing: border-box;
   text-align: start;
}

.projet-description {
    font-size: 16px;

}


#coordonnees {
    display: flex;
}

/*********CONTACT**********/

#contact-content {
    display: flex;
    margin: auto;
}

.contact-formulaire {
    display:flex;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 831px;
}

#coordonnees {
    flex-direction: column;
    width: 560px;
    block-size: 664px horizontal tab;
    block-size: 690px;
    /* writing-mode: horizontal-tb; */
}

#contact {
    width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    /* height: 830px; */
}

.contact-formulaire {
    /* margin-left: 340px; */
    /* margin-right: 340px; */
    display: flex;
    margin: auto;
}

.contact-title {
    font-weight:800;
    font-size: 36px;
}

#contact-intro {
    font-size: 20px;
}

#email {
    font-size: 16px;
}

@media (max-width: 700px) {

body {
    background-color: red;
}   


header{ 
    flex-direction: column;
}

.social-links {
    font-size: 16px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -22px;
    height: 728px;
    width: 401px;
}


label {
    font-size: 14px;
     margin-bottom: 22px;
    margin-top: 22px;
}

.media {
    text-align: center;
    margin-top: 59px;
}

.projet {
        flex-direction: column;
}

#article {
    flex-direction: column;
    gap: 20px;
}
.article-blog {
 max-width: none;
 width: 100%;
}

.date-category {
gap : 5px;
}


#coordonnees {
display: none;
}
}



form {
input, select, textarea {background-color: #F7F7F7;border: none;height: 46px;
}


textarea#message {
    height: 165px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    height: 56px;
}


/*********FOOTER**********/

#icons\socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#copyright {
    font-size: 14px;
    color: #21243D;
}


.media {
    padding-top: 100%;
    text-align: center;
    padding-bottom: 20px;
}











form {
input, select, textarea {background-color: #F7F7F7;border: none;height: 46px;
}


textarea#message {
    height: 165px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    height: 56px;
}


/*********FOOTER**********/

#icons\socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#copyright {
    font-size: 14px;
    color: #21243D;
}


.media {
    padding-top: 100%;
    text-align: center;
    padding-bottom: 20px;
}










form {
input, select, textarea {background-color: #F7F7F7;border: none;height: 46px;
}


textarea#message {
    height: 165px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    height: 56px;
}


/*********FOOTER**********/

#icons\socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#copyright {
    font-size: 14px;
    color: #21243D;
}


.media {
    padding-top: 100%;
    text-align: center;
    padding-bottom: 20px;
}


